[Unit]
Description=Tomcat
After=syslog.target network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment=JAVA_HOME={{ JAVA_HOME }}
Environment='JAVA_OPTS=-Djava.awt.headless=true'

Environment=CATALINA_HOME=/usr/share/tomcat/{{ tomcat_target_name }}
Environment=CATALINA_BASE=/usr/share/tomcat/{{ tomcat_target_name }}
Environment=CATALINA_PID=/usr/share/tomcat/{{ tomcat_target_name }}/temp/tomcat.pid

ExecStart=/usr/share/tomcat/{{ tomcat_target_name }}/bin/catalina.sh start
ExecStop=/usr/share/tomcat/{{ tomcat_target_name }}/bin/catalina.sh stop

[Install]
WantedBy=multi-user.target
